<p style="color: green"><%= notice %></p>

<% content_for :title, "Work processes" %>

<h1>Work processes</h1>

<div id="work_processes">
  <% @work_processes.each do |work_process| %>
    <%= render work_process %>
    <p>
      <%= link_to "Show this work process", work_process %>
    </p>
  <% end %>
</div>

<%= link_to "New work process", new_work_process_path %>
